{% extends '::base.html.twig' %}

{% block title %}
    {{ parent() }} | Vidéo de {{ etudiant }} pour l'examen {{ examName }}
{% endblock title %}

{% block body %}
    <style>
        div.label
        {
            padding: 10px;
            display: block;
            margin: 10px 0;
            cursor: pointer;
            border-radius: 0;
        }
    </style>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-9">
                <h3 class="title">Vidéo de {{ etudiant }} pour l'examen {{ examName }}</h3>
                <div class="embed-responsive embed-responsive-16by9">

                    <video id="video-1" controls>
                        <source src="{{ asset('bundles/app/uploads/'~examName~'/'~etudiant~'.mp4') }}" type="video/mp4">
                        Votre navigateur ne supporte pas le HTML 5
                    </video>
                </div>
            </div>
            <div class="col-md-3">
                <h4>Liste des évènements</h4>

                    {% if events is empty %}
                        <p>Aucun évènement enregistré pour cette vidéo</p>
                    {% else %}
                        {% for event in events %}
                            <div class="label label-info" onclick="jump('video-1', {{ event.moment }})">{{ event.description }}</div>
                        {% endfor %}
                    {% endif %}

            </div>
            <div class="col-md-12">
                <a class="btn btn-primary" href="{{ path('app_display_exam', {'examName' : examName}) }}">Revenir à la liste des étudiants</a>
                <a class="btn btn-primary" href="{{ path('app_homepage') }}">Revenir à la liste des examens</a>
            </div>
        </div>
    </div>
{% endblock body %}