{% extends '::base.html.twig' %}

{% block title %}
    {{ parent() }}
{% endblock title %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets '@bootstrap_css' output='css/bootstrap.css' %}
    <link rel="stylesheet" href="{{ asset_url }}"/>
    {% endstylesheets %}
    {% stylesheets 'bundles/app/css/*' filter='cssrewrite, uglifycss' %}
    <link rel="stylesheet" href="{{ asset_url }}"/>
    {% endstylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/bmatznerfontawesome/css/font-awesome.min.css') }}"/>
{% endblock stylesheets %}

{% block javascripts_head %}
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.3/jquery.min.js"></script>
{% endblock javascripts_head %}

{% block javascripts_body %}
    {{ parent() }}
    {% javascripts '@bootstrap_js' output='js/bootstrap.js' %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
    <script src="{{ asset('bundles/app/js/main.js') }}"></script>
{% endblock javascripts_body %}

{% block body %}
    <div class="container">
        <div class="row">
            <h1 class="title">Liste des étudiants
                <a class="btn btn-primary" href="{{ path('app_homepage') }}">Revenir à la liste des examens</a></h1>
            <table class="table">
                <thead>
                    <tr>
                        <th>Etudiant</th>
                        <th>Nombre évènements</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for video in files %}
                        <tr>
                            <td>{{ video.username }}</td>
                            <td> {{ video.eventCount }} évènements(s)</td>
                            <td><a class="btn btn-default" href="{{ path('app_display_video',  {'examName': examName, etudiant: video.username}) }}"><i class="fa fa-file-video-o" aria-hidden="true"></i> Voir vidéo</a></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock body %}