{% extends '::base.html.twig' %}

{% block title %}
    {{ parent() }} | Créer un examen
{% endblock title %}

{% block body %}
    <div class="container">
        <div class="row">
            {% if errors is not empty %}
                <div class="alert alert-danger">
                    <h4>Erreurs</h4>
                    <ul>
                    {% for error in errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                    </ul>
                </div>
            {% endif %}
            <h1 class="title">Créer un examen
                <a class="btn btn-primary" href="{{ path('app_homepage') }}">Revenir à la liste des examens</a>
            </h1>
            {{ form_start(form) }}
                <div class="form-group">
                    {{ form_label(form.name) }}
                    {{ form_widget(form.name, { 'attr': {'class': 'form-control'} }) }}
                    {{ form_errors(form.name) }}
                </div>
                <div class="form-group">
                    {{ form_label(form.width) }}
                    {{ form_widget(form.width, { 'attr': {'class': 'form-control', 'value': 960} }) }}
                    {{ form_errors(form.width) }}
                </div>
                <div class="form-group">
                    {{ form_label(form.height) }}
                    {{ form_widget(form.height, { 'attr': {'class': 'form-control', 'value': 540} }) }}
                    {{ form_errors(form.height) }}
                </div>
                <div class="form-group">
                    {{ form_label(form.framesPerSecond) }}
                    {{ form_widget(form.framesPerSecond, { 'attr': {'class': 'form-control', 'value': 2} }) }}
                    {{ form_errors(form.framesPerSecond) }}
                </div>
                <div class="form-group">
                    {{ form_label(form.port) }}
                    {{ form_widget(form.port, { 'attr': {'class': 'form-control', 'value': 6969} }) }}
                    {{ form_errors(form.port) }}
                </div>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock body %}