{% extends '::base.html.twig' %}

{% block title %}
    {{ parent() }} | Vidéo de {{ etudiant }} pour l'examen {{ examName }}
{% endblock title %}

{% block body %}
    <style>
        div.label
        {
            padding: 10px;
            display: block;
            cursor: pointer;
            border-radius: 0;
            width: 100%;
            text-align: left;
        }
        div.filtr-item
        {
            width: 100%;
        }
        .event-spacing
        {
            height: 10px;
        }
        .filtr-item.filteredOut {
            visibility: hidden;
            display: none;
        }

        #filtr-wrapper
        {
            height: 750px;
            overflow: scroll;
            overflow-x: hidden;
        }
    </style>
    <script>
        $(document).ready(function () {


            function filterEvents() {

                $('.filtr-item').each(function( index ) {
                    var pattern = $('#text-filter').val().toLowerCase();
                    var dataText = $(this).attr("data-text").toLowerCase();

                    var n = dataText.search(pattern);

                    var toDisplay = true;
                    if(n == -1)
                    {
                        toDisplay = false;
                    }
                    if($('#size-filter').val() == "" && toDisplay)
                    {
                        $(this).show();
                    }
                    else
                    {
                        var maxSize = parseInt($('#size-filter').val());
                        var eventSize = parseInt($(this).attr( "data-size"));
                        if( (eventSize >= maxSize)  && toDisplay)
                        {
                            $(this).show();
                        }
                        else
                        {
                            $(this).hide();
                        }
                    }
                });
            }

            $('#text-filter').change(function() {
                filterEvents();
            });

            $('#size-filter').change(function() {
                filterEvents();
            });

        });
    </script>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-9">
                <h3 class="title">Vidéo de {{ etudiant }} pour l'examen {{ examName }}
                    <a class="btn btn-primary" href="{{ path('app_display_exam', {'examName' : examName}) }}">Revenir à la liste des étudiants</a>
                    <a class="btn btn-primary" href="{{ path('app_homepage') }}">Revenir à la liste des examens</a>
                </h3>
                <div class="embed-responsive embed-responsive-16by9">

                    <video id="video-1" controls>
                        <source src="{{ asset('bundles/app/uploads/'~examName~'/'~etudiant~'.mp4') }}" type="video/mp4">
                        Votre navigateur ne supporte pas le HTML 5
                    </video>
                </div>
            </div>
            <div class="col-md-3">
                <h4>Liste des évènements</h4>
                <div class="row" style="margin-bottom: 10px;">
                    <div class="col-md-12 input-group">
                        <input type="text" id="text-filter" name="text-filter" class="form-control" value=""
                               placeholder="Recherche">
                    </div>
                    <div class="col-md-12 input-group">
                        <input type="number" min="0" id="size-filter" name="size-filter" class="form-control" placeholder="Nombre d'octets max des fichiers filtrés" aria-describedby="basic-addon2">
                        <span class="input-group-addon" id="basic-addon2">octet(s) max</span>
                    </div>
                </div>
                <div id="filtr-wrapper">
                    <div id="filtr-container" class="filtr-container">
                        {% if events is empty %}
                            <p>Aucun évènement enregistré pour cette vidéo</p>
                        {% else %}
                            {% for event in events %}
                                {% if event.action|lower == 'create' %}
                                    {% set event_class_color = 'success' %}
                                {%  elseif event.action|lower == 'modify'  %}
                                    {% set event_class_color = 'warning' %}
                                {%  elseif event.action|lower == 'delete'  %}
                                    {% set event_class_color = 'danger' %}
                                {% endif %}
                                {% set description = event.moment|videoTime ~ " " ~ event.action ~ " " ~ event.filename|tildePath ~ " " ~ event.size|filesize %}
                                <div class="filtr-item" data-category="{{ event.action|lower }}" data-text="{{ description }}"
                                     data-sort="value" data-size="{{ event.size }}" >
                                    <div class="label label-{{ event_class_color }}" onclick="jump('video-1', {{ event.moment/1000 }})" title="{{ description }}" >{{ description }}</div>
                                    <div class="event-spacing"></div>
                                </div>
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock body %}