{% extends '::base.html.twig' %}

{% block title %}
    {{ parent() }} | Liste des examens
{% endblock title %}

{% block body %}
    <div class="container">
        <div class="row">
            <a href="{{ path("app_new_exam") }}" class="btn btn-lg btn-success">Nouvel examen</a>
            <h3 class="title">Liste des examens en cours </h3>
            {% if pendingExams is empty %}
                Aucun examens en cours
            {% else %}
                <table class="table">
                    <thead>
                    <tr>
                        <th>Nom de l'examen</th>
                        <th>Date de début</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for exam in pendingExams %}
                        <tr>
                            <td>{{ exam.name }}</td>
                            <td> {{ exam.date|date('j/m/Y à h:m:s') }}</td>
                            <td><a class="btn btn-default" href="{{ path('app_pending_exam',  {'id': exam.id}) }}"><i class="fa fa-eye" aria-hidden="true"></i> Voir infos</a></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            {% endif %}
            <h3 class="title">Liste des examens consultables</h3>
            {% if exams is empty %}
                Aucun examens à consulter
            {% else %}
                <table class="table">
                    <thead>
                    <tr>
                        <th>Nom de l'examen</th>
                        <th>Nombre d'étudiants</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for exam in exams %}
                        <tr>
                            <td>{{ exam.name }}</td>
                            <td>{{ exam.studentCount }} étudiants</td>
                            <td>
                                <a class="btn btn-default" href="{{ path('app_display_exam',  {'examName': exam.name}) }}"><i class="fa fa-info-circle" aria-hidden="true"></i> Détails</a>
                                <button onclick="deleteExam('{{ exam.name }}')" class="btn btn-danger"><i class="fa fa-trash" aria-hidden="true"></i></button>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            {% endif %}
            <button onclick="notifyMe('Elève déconnecté', 'Machin a été déconnecté du serveur')">Notify me!</button>
        </div>
    </div>
    <script>
        function deleteExam(name)
        {
            if (confirm("Voulez-vous vraiment supprimer cet examen et toutes les vidéos associées ?"))
            {
                var url = Routing.generate('app_delete_exam', {
                    'examName': name
                });
                $.ajax({
                    url: url,
                    type: 'POST',
                    data: {'examName': name },
                    dataType: 'json'
                }).done(function () {
                            window.location.href = '{{ path('app_homepage') }}';
                        })
                        .fail(function (data) {
                            alert(data.error);
                        });
            }
        }
    </script>
{% endblock body %}